@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');


    body {
                font-family: "Kanit", sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f5f5f5;



            }
            h1 {
                margin: 0;
            }

            .container {
                max-width: 800px;
                margin: 0 auto;
                padding: 20px;
                background-color: #fff;
                border: 1px solid #ddd;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            /* ระยะห่างขอบของ container */
            .container {
                padding: 20px;
            }

            /* ตัวอย่างสไตล์ของ input และ button */
            input[type="text"],
            input[type="date"],
            select,
            textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            button {
                background-color: #007BFF;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            button:hover {
                background-color: #0056b3;
            }
