@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');



body {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* จัดกลางตามแกนตั้ง (vertically center) */
    align-items: center; /* จัดกลางตามแกนนอน (horizontally center) */
    height: 100vh; /* ทำให้พื้นที่รอบๆ หน้าเว็บเต็มหน้าจอ */
    margin: 0; /* ลบ margin ของ body */
    background-image: url("pic/head.jpg");


}

.login {
    font-family: 'Kanit', sans-serif;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login h2 {
    font-size: 24px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.login label,
.login input,
.login button {
    font-family: 'Kanit', sans-serif;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.login button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
