@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');
* {
    font-family: 'Kanit', sans-serif;

}
body{
        background-image: url("pic/Back.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto ;
            object-fit: contain;
            display: block;

 }
 

.content {
      width: 80%;
      height: 500%;
      margin-left: 20%;
      background-color: #FFF2CC ;


}
.banner a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

.mainmenu a:hover {
    color: darkred;
}

