@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');

* {
  font-family: 'Kanit', sans-serif;
  margin: 0;
}


body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-image: url("../pic/Back.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;


}
.banner img {
    width: 90%; /* ทำให้รูปเต็มความกว้างของ container */
    margin: 70px; /* ปรับระยะห่างรูปเอง */

}
 header {
          background-color: #e10925 ;
          color: #fff;
          padding: 10px;
          text-align: center;
 }

nav {
          display: flex;
          justify-content: center;
          background-color: #e10925 ;
 }

 nav a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
 }

 nav a:hover {
          background-color: #F2F2F2 ;
          color: black;
 }
 .content {
             max-width: 600px; /* ปรับความกว้างตามที่คุณต้องการ */
             /*margin: 0 auto; /* ทำให้ div อยู่ตรงกลาง */
             background-color: #F8F8F8 ;
             padding: 20px;
             margin-top: 2%;
  }
  header {
      display: flex;
      align-items: center;
      justify-content: flex-start; /* ให้ข้อความและรูปอยู่ทางซ้าย */
  }

  header img {
      width:10%;
      margin-right: 7px;
  }

  header h1 {
      margin: 0;
      margin-right: 50px;
      padding-bottom: 5px; /* สร้างพื้นที่ห่างด้านล่างของข้อความ */
      border-bottom: 3px solid #fff204; /* สร้างขีดทางล่างของข้อความ */
  }
  header label {
   margin: 0;
   margin-top: 40px;
   margin-left: 1px;

 }
 header img {
     width :45px ;
}

 .content {
        text-align: left;
        padding: 20px;
        width: 500%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 10% ;

}

.bottom-frame {
            background-color: #e10925 ; /* สีพื้นหลังของกรอบด้านล่าง */
            padding: 10px;
            text-align: center;
 }
.bottom-frame img {
    width: 2%; /* ปรับความกว้างของรูปให้เต็มกว่าพื้นที่ของ div */
    height: 2% /* รักษาสัดส่วนของรูป */
    margin-top: 5px; /* ปรับขึ้นลงตามที่คุณต้องการ */
    margin-bottom: -10px; /* ปรับขึ้นลงตามที่คุณต้องการ */
    margin-right: 100% ;
 }
.bottom-frame span {
     position: absolute; /* ตั้งค่าให้เป็น absolute position */
     bottom: -605px; /* จัดตำแหน่งข้อความที่ติดกับด้านล่างของ div */
     right: -45px ; /* จัดตำแหน่งข้อความทางด้านซ้าย */
     width: 100%; /* ทำให้ข้อความเต็มขนาดของ div */
     text-align: left; /* จัดตำแหน่งข้อความทางด้านซ้าย */
     color : white ;
 }
