@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/* เพิ่มสไตล์ตกแต่งให้สวยงาม */

body {
    font-family: 'Kanit', sans-serif;
    background-color: #F0F0F0;
    color: #333;
    background-image: url("../pic/Back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

form {
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 10%;
    height: auto;
    object-fit: contain;
}

h1,
h2 {
    text-align: center;
    color: black;
    font-size: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    width: 200;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;

}

input[type="radio"] {
    margin-right: 4px;
}

button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #F2F2F2;
}

input[type="radio"] {
    width: fit-content;
}

/* ปรับช่อง input วันที่ */
#date {
    max-width: 200px;
    width: 200px
}

/* ปรับช่อง input เรื่อง */
#topic {
    max-width: 40%;


}

/* ปรับขนาดหัวข้อ */
#menuinfo,
#place,
#meewi {
    font-size: 25px;
    font-weight: bold;
}

#what,
#retried,
.selectone,
.selecttwo,
.selectthree,
#retriedone,
#retriedtwo,
.money {
    font-size: 18px;
}


/* ปรับช่อง (ข้าพเจ้า ชื่อ นามสกุล) ให้อยุ่บรรทัดเดียวกัน */
.name {
    display: flex;
    gap: 5px
}

#prefix {
    max-width: 100px;
    width: 100px;
    height: 35px;
}

#studentFirstName {
    height: 35px;
}

#studentLastName {
    height: 35px;
}

/* ปรับช่อง (เลขทะเบียน ชั้นปีที่ สาขาวิชา) ให้อยุ่บรรทัดเดียวกัน */
.numnum {
    display: flex;
    gap: 5px;
    height: 45px;
}


/* ปรับความยาวของคำว่า "เลขทะเบียน" */
#numID {
    width: 170px;
}

/* ปรับช่อง เลขทะเบียน */
#stdID {
    width: 230px;

}

/* ปรับความยาวของคำว่า "ขั้นปีที่" */
#stdYear {
    width: 100px;
}

/* ปรับช่อง ชั้นปี */
#studentYear {
    width: 300px;
}

/* ปรับความยาวของคำว่า "สาขาวิชา" */
#stdField {
    width: 140px;
}

.placeline1 {
    display: flex;
    gap: 5px
}

/* ปรับความยาวของคำว่า "บ้านเลขที่" */
#homeID {
    width: 200px;

}

/* ปรับช่อง บ้านเลขที่ */
#addressNumber {
    width: 180px;
    height: 35px;
}

/* ปรับความยาวของคำว่า "หมู่ที่" */
#nummoo {
    width: 110px;
}

/* ปรับช่อง หมู่ที่ */
#moo {
    width: 100px;
    height: 35px;
}

/* ปรับช่อง ตำบล */
#tumbol {
    width: 900px;
    height: 35px;
}

/* ปรับช่อง อำเภอ */
#amphur {
    width: 900px;
    height: 35px;
}

/* ปรับช่อง จังหวัด */
#province {
    height: 35px;
}

/* ปรับช่อง (จังหวัด รหัสปณ tel) ให้อยุ่บรรทัดเดียวกัน */
.placeline2 {
    display: flex;
    gap: 5px
}

/* ปรับความยาวของคำว่า "รหัสไปรษณีย์" */
#ptCode {
    width: 680px;
}

/* ปรับช่อง รหัสไปรษณีย์ */
#postalCode {
    height: 35px;
}

/* ปรับความยาวของคำว่า "มือถือ" */
#myphone {
    width: 700px;

}

/* ปรับช่อง มือถือ */
#mobilePhone {
    height: 35px;
}

/* ปรับความยาวของคำว่า "โทรศัพท์บ้าน" */
#homephone {
    width: 850px;

}

/* ปรับช่อง โทรศัพท์บ้าน */
#phone {
    height: 35px;
}

#adivsor {
    height: 35px;
}

/* ซ่อนDetail,Defer,Other*/
.hidden {
    display: none;
}

star {
    color: red;
    font-size: 20px;
}