@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

/* เพิ่มสไตล์ตกแต่งให้สวยงาม */

body {
    font-family: 'Kanit', sans-serif;
    background-color: #F0F0F0;
    color: #333;
    background-image: url("../pic/Back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

form {
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 20%;
    height: auto;
    object-fit: contain;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    width: 200;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

input[type="radio"] {
    width: fit-content;
}
/* ปรับช่อง input วันที่ */
#date {
    max-width: 200px;
    width: 200px
}
/* ปรับช่อง input เรื่อง */
#topic {
    max-width: 400px;
    width: 400px
}
/* ปรับขนาดหัวข้อ */
#menuinfo, #place, #meewi {
    font-size: 30px;
    font-weight: bold;
}

#what,#retried,.selectone,.selecttwo,.selectthree,#retriedone,#retriedtwo,.money {
    font-size: 25px;
}


/* ปรับช่อง (ข้าพเจ้า ชื่อ นามสกุล) ให้อยุ่บรรทัดเดียวกัน */
.name {
    display: flex;
    gap: 5px
}

#prefix {
    max-width: 100px;
    width: 100px;
}
/* ปรับช่อง (เลขทะเบียน ชั้นปีที่ สาขาวิชา) ให้อยุ่บรรทัดเดียวกัน */
.numnum {
    display: flex;
    gap: 5px;
}
/* ปรับความยาวของคำว่า "เลขทะเบียน" */
#numID {
    width: 160px;
}
/* ปรับช่อง เลขทะเบียน */
#stdID {
    width: 230px;
}
/* ปรับความยาวของคำว่า "ขั้นปีที่" */
#stdYear {
    width: 90px;
}
/* ปรับช่อง ชั้นปี */
#studentYear {
    width: 300px;
}
/* ปรับความยาวของคำว่า "สาขาวิชา" */
#stdField {
    width: 130px;
}
.placeline1 {
    display: flex;
    gap: 5px
}
/* ปรับความยาวของคำว่า "บ้านเลขที่" */
#homeID{
    width: 180px;
}
/* ปรับช่อง บ้านเลขที่ */
#addressNumber {
    width: 150px;
}
/* ปรับความยาวของคำว่า "หมู่ที่" */
#nummoo {
    width: 90px;
}
/* ปรับช่อง หมู่ที่ */
#moo {
    width: 100px;
}
/* ปรับช่อง ตำบล */
#tumbol {
    width: 900px;
}
/* ปรับช่อง (จังหวัด รหัสปณ tel) ให้อยุ่บรรทัดเดียวกัน */
.placeline2 {
    display: flex;
    gap: 5px
}
#ptCode {
    width: 680px;
}
#myphone {
    width: 700px;
}
#homephone {
    width: 850px;
}
