@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');

* {
  font-family: 'Kanit', sans-serif;
  margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     border: 2px solid #28a745; /* สีขอบกรอบ */
     padding: 20px; /* ระยะห่างของเนื้อหาจากขอบกรอบ */
     margin: 0 auto; /* ทำให้เป็นกลางที่สุดในหน้าจอ */
     top: 50%; /* จุดกึ่งกลางตำแหน่งด้านบน */
     left: 50%; /* จุดกึ่งกลางตำแหน่งด้านซ้าย */
     background-color: #fff; /* สีพื้นหลังของกรอบ */
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กรอบ */
     border-radius: 5px;
     max-width: 1000px;
     width : 40% ;
     height : 30% ;
}

h1 {
    color: #45a049; /* เปลี่ยนสีของ h1 เป็นสีที่คุณต้องการ */
    margin-bottom: 10px; /* เพิ่ม margin-bottom สำหรับ h1 */
}

p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px; /* เพิ่ม margin-bottom สำหรับ p */
}

a {
    color: #e10925; /* เปลี่ยนสีของลิงก์เป็นสีที่คุณต้องการ */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.success-message {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 10px; /* เพิ่ม margin-bottom สำหรับ success-message */
}

.failure-message {
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 10px; /* เพิ่ม margin-bottom สำหรับ failure-message */
}

 /* เพิ่มสไตล์ของตัวติ้ก */

@keyframes moveElements {
    0% {
        transform: scale(0) translateY(50%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(-50%);
        opacity: 1;
    }
}
#circle {
    width: 80px;
    height: 80px;
    background-color: #28a745;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
     animation: moveElements 1s ease-in-out forwards;
}

#tickMark {
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 48.4%;
    transform: translate(-50%, -50%);
    display: none;
     animation: moveElements 1s ease-in-out forwards;
}

