@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Kanit:wght@300&display=swap');

* {
  font-family: 'Kanit', sans-serif;
  margin: 0;
}


body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color : #F8F8F8 ;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;

}

header {
          background-color: #8B0000 ;
          color: #fff;
          padding: 10px;
          text-align: center;
 }

nav {
          display: flex;
          justify-content: center;
          background-color: #8B0000 ;
 }

 nav a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
 }

 nav a:hover {
          background-color: #F2F2F2 ;
          color: black;
 }
 nav a:hover {
    background-color: #ddd;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* ให้ข้อความและรูปอยู่ทางซ้าย */
}

header img {
    width:10%;
    margin-right: 7px;
}

header h1 {
    margin: 0;
    margin-right: 50px;
    padding-bottom: 5px; /* สร้างพื้นที่ห่างด้านล่างของข้อความ */
    border-bottom: 3px solid #fff204; /* สร้างขีดทางล่างของข้อความ */
}
header label {
    margin: 0;
    margin-top: 40px;
    margin-left: 1px;
}
header img {
    width :45px ;
}
.AccountLogin {
    justify-content: flex-end;
    margin-left: 60% ;
}
/* เนื้อหาหลัก */
.Cancel{

}
/* ปุ่มยกเลิกการส่งคำร้องทั้งหมด */
#Cancel1{
  border-radius: 10px;
  padding: 5px;
  background-color: #8B0000;
  color: #fdfdfd;
  border-color: #F2F2F2;
  cursor: pointer;

}

#Cancel2{
  border-radius: 10px;
  padding: 5px;
  background-color: #8B0000;
  color: #fdfdfd;
  border-color: #F2F2F2;
  cursor: pointer;

}

.information table {
  width: 80%; /* ความกว้างของตาราง */
  margin: auto; /* ทำให้ตารางอยู่ตรงกลาง */
  border-collapse: collapse;
}

.information th {
  border: 2px solid #F8F8F8;
  text-align: center;
  padding: 8px;
  color: black;

}

.information th:nth-child(even) {
  background-color: #FABCBC ;
}

.information th:nth-child(odd) {
  background-color: #F2F2F2;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popup {
    width: 350px;
    height: 280px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: 200%;
    transform: translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.popup.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #A34f234
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup .icon i.fa{
    font-size: 30px;
    color: #34f234;
}

.popup .title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}

.popup .description {
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn {
    margin-top: 15px;
}

.popup .dismiss-btn button {
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup .send-btn {
    margin-top: 15px;
}

.popup .send-btn button {
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
}

.popup .send-btn button:hover {
    color: #111;
    background: #f5f5f5;
}




  